* {
    outline: 1px solid red;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: rgb(64, 50, 77);
    color: white;
}

.head {
    display: flex;
    width: 1160px;
}

ul {
    list-style: none;
    display: flex;
}
button {

}

.flowers {
    width: 220px;
    height: auto;
}