* {
    outline: 1px solid red;
   
}

.body {
    display: flex;
    flex-direction: column;
    
}

.header, 
.hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: rgb(64, 50, 77);
    color: white;
    padding: 15px 150px 48px 150px
    
}

.logo {
    height: 78px;
    width: 78px;
    border-radius: 50px;
    border: 3px solid white;
}


ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: flex-start;
    gap: 15px;
}

h1, p {
    margin: 0px;
}
button {
    background-color: rgb(112, 112, 236);
    border-radius: 5px;

}

.flowers {
    width: 220px;
    height: auto;
}