* {
    outline: 1px solid red;
   
}

.body {
    display: flex;
    flex-direction: column;
    
}

.header, 
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: rgb(64, 50, 77);
    color: white;
    padding: 0px 150px 0px 150px
    
}



ul {
    list-style: none;
    display: flex;
}
button {

}

.flowers {
    width: 220px;
    height: auto;
}